@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: theme(fontFamily.dmSans);
}

#root {
  max-width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.primary-button {
  background-color: theme(colors.primary);
  color: #fff;
  font-size: theme(fontSize.button);
  border-radius: 10px;
  text-align: center;
  width: theme(spacing.button-w);
  min-height: theme(spacing.button-h);
}

.secondary-button {
  background-color: theme(colors.secondary);
  color: theme(colors.primary);
  border-color: theme(colors.primary);
  border: 1px solid;
  font-size: theme(fontSize.button);
  border-radius: 10px;
  text-align: center;
  width: theme(spacing.button-w);
  min-height: 43px;
}

.download-button {
  background-color: #fff;
  color: theme(colors.blueText);
  border: 3px solid theme(colors.blueBorder);
  font-size: theme(fontSize.button);
  border-radius: 10px;
  text-align: center;
  min-width: theme(spacing.button-w);
  max-width: theme(spacing.button-w);
  min-height: theme(spacing.button-h);
  display: flex;
  justify-content: center;
  align-items: center;
}

passage-auth {
  --passage-primary-button-background-color: theme(colors.primary);
  --passage-primary-button-text-color: #fff;
  --passage-button-font-size: theme(fontSize.button);
  --passage-button-width: theme(spacing.button-w);
  --passage-header-font-size: theme(fontSize.h3);
  --passage-header-font-family: theme(fontFamily.dmSans);
  --passage-body-font-family: theme(fontFamily.dmSans);
  --passage-container-padding: 0px 24px;
}
@media (display-mode: standalone) {
  #install {
    display: none;
  }
}
